{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock title %} Classroom</title>
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/icon/favicon-96x96.png' %}">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  {% block extra_css %}
  {% endblock extra_css %}

</head>
<body id="page-top" class="bg-gradient-primary">
  {% block body %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% cache 1800 sidebar %}
      {% include "snippets/sidebar.html" %}
    {% endcache %}
    <!-- End of the sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% cache 900 navbar request.user.id request.user.get_full_name request.user.image %}
          {% include "snippets/navbar.html" %}
        {% endcache %}
        <!-- End of topbar -->

        {% include 'snippets/alerts.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% block footer %}
        {% cache None footer %}
          {% include "snippets/footer.html" %}
        {% endcache %}
      {% endblock footer %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  {% block logout_modal %}
    {% cache None logout_modal %}
      {% include 'snippets/logout_modal.html' %}
    {% endcache %}
  {% endblock logout_modal %}
  <!-- End of logout modal -->

  {% endblock body %}

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="{% static 'js/custom.js' %}"></script>

  {% block extra_script %}
  {% endblock extra_script %}

</body>

</html>
