{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Profile :: {% endblock title %}

{% block content %}
<div class="container text-dark">
<div class="row flex-lg-nowrap">

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; {% if not request.user.image %} background-color: rgb(233, 236, 239);{% endif %}">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">
                        {% if request.user.student.image %}
                          <a href="{{ request.user.student.image.url }}">
                            <img src="{{ request.user.student.image.url}}" alt="{{request.user.get_full_name}}" width="120px">
                          </a>
                        {% else %}
                          Add a Picture
                        {% endif %}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h3 class="pt-sm-2 pb-1 mb-0 text-nowrap ">
                      {{ request.user.get_full_name }}
                    </h3>
                    <p class="mb-0">{{ request.user.email }}</p>
                  </div>
                  <div class="text-center text-sm-right">
                    <div class="text-muted"><small><span class="font-weight-bold">Joined</span> {{request.user.date_joined.date}}</small></div>
                    <div class="text-muted"><small><span class="font-weight-bold">Last login</span> {{ request.user.last_login.date }}</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    <form class="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {{form|crispy}}
                        
                        <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
{% endblock content %}

{% block extra_script %}
  <script>

</script>
{% endblock extra_script %}
