{% extends "base.html" %}
{% load static %}

{% block title %}Assignments :: {% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock extra_css %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{ subject.name }}</h1>

      <!-- feedback button -->
      <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary" data-toggle="modal" data-target="#feedbackModal">
              <i class="fa fa-point fa-sm text-white-50"></i> feedback
      </button>
  </div>

  {% for assignment in assignments %}
    <div class="row mb-2 p-3">
      <div class="card border-left-success shadow h-100 py-2 w-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col text-left mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ assignment.title }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ assignment.text|safe }} 
              </div>
              <div class="text-muted small mt-1"><b>created at :</b> {{ assignment.created }} </div>
              <div class="text-muted small mt-1"><b>late date to sumbit :</b> {{ assignment.last_date }} </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-stream fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>




  {% endfor %}


  <!-- Content Row -->

{% endblock content %}

